@import "../../Theme.scss";

#profilePic {
  border-color: $foreground2;
  // animation: profilePicFlickerAnimation 2s infinite;
}

.header {
  animation: 1s ease-out 0s 1 imageAnimation;
  -webkit-animation: 1s ease-out 0s 1 imageAnimation;
}

h1, p {
  color: $foreground2;
}

#aboutLine {
  background-color: $foreground2;
  animation: 1.5s ease-out lineWidthAnimation;
  -webkit-animation: 1.5s ease-out lineWidthAnimation;
}

.fa:hover {
  background-color: $foreground2;
}

// .fa {
//   transition: 0.15s;
//   animation: socialLinksAnimations 0s ease-out;
// }

.linkedin-about {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  animation: 2s ease-out socialLinksAnimations;
  -webkit-animation: 2s ease-out socialLinksAnimations;
  border-color: $foreground2;
  color: $foreground2;
}
.linkedin-about:hover {
  color: #0a66c2;
}

.github-about {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  animation: 1.5s ease-out socialLinksAnimations;
  -webkit-animation: 1.5s ease-out socialLinksAnimations;
  border-color: $foreground2;
  color: $foreground2;
}
.github-about:hover {
  color: black;
}

.hackerrank-about {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  animation: 1s ease-out socialLinksAnimations;
  -webkit-animation: 1s ease-out socialLinksAnimations;
  border-color: $foreground2;
  color: $foreground2;
}
.hackerrank-about:hover {
  color: #28b95a;
}
@keyframes profilePicFlickerAnimation {
  0% {
    box-shadow: 0px 0px 5px 0px $foreground2;
  }
  50% {
    box-shadow: 0px 0px 1px 0px $foreground2;
  }
  55% {
    box-shadow: 0px 0px 5px 0px $foreground2;
  }
  100% {
    box-shadow: 0px 0px 5px 0px $foreground2;
  }
}

@keyframes socialLinksAnimations {
  0% {
    transform: translateX(-500%);
    -webkit-transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

@keyframes lineWidthAnimation {
  0% {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
    -webkit-transform: scaleX(100%);
  }
}

@keyframes imageAnimation {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

@media screen and (max-width: 384px) {
  #profilePic {
    display: none;
  }
  #summary {
    width: 80%;
  }
}
