@import "../../utils/Theme.scss";

// .form-container {
// 	background: linear-gradient(45deg, $backgroundColorLight 0%, $backgroundColor 50%, $backgroundColorLight 100%);
// 	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
// }

label {
	color: $foreground;
}

input[type="text"], textarea {
	background-color: $backgroundColorLight;
	color: $foreground;
	border: 1px solid $backgroundColorLight;
}
input[type="text"]:focus, textarea:focus {
	border-color: $primaryLight;
}

.error {
	color: $danger;
	transition: 1s;
	animation: 0.5s ease-out errorAnimation;
	-webkit-animation: 0.5s ease-out errorAnimation;
}

.form-submit-button {
	transition: 0.2s;
	-webkit-transition: 0.2s;
	background-color: $primary;
	// border: 1px solid $foreground;
	font-weight: bold;
	font-size: medium;
}
.form-submit-button:hover {
	background-color: $primaryLight;
	color: $backgroundColorLight;
}

.form-submit-button-sending {
	transition: 0.2s;
	-webkit-transition: 0.2s;
	background-color: $backgroundColorLight;
	color: $foreground;
}

.form-submit-button-disabled {
	background-color: $success;
	color: $backgroundColor;
}

@keyframes errorAnimation {
	0% {
		opacity: 0;
		transform: translateX(-100%);
		-webkit-animation: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
	}
}