@import "../../Theme.scss";

// .form-container {
// 	background: linear-gradient(45deg, $backgroundColorLight 0%, $backgroundColor 50%, $backgroundColorLight 100%);
// 	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
// }

label {
	color: $foreground2;
}

input[type="text"], textarea {
	background-color: transparent;
	color: $foreground2;
	border: 1px solid $foreground2;
}
input[type="text"]:focus, textarea:focus {
	border-color: $primaryLight;
}

.error {
	color: $danger;
}

.form-submit-button {
	transition: 0.2s;
	-webkit-transition: 0.2s;
	background-color: $primary;
	// border: 1px solid $foreground2;
	font-weight: bold;
	font-size: medium;
}
.form-submit-button:hover {
	background-color: $primaryLight;
	color: $backgroundColorLight;
}

.form-submit-button-sending {
	transition: 0.2s;
	-webkit-transition: 0.2s;
	background-color: $backgroundColorLight;
	color: $foreground2;
}

.form-submit-button-disabled {
	background-color: $success;
	color: $backgroundColor;
}