@import "../../../Theme.scss";

#profilePic {
  border-color: $foreground;
}

h1, p {
  color: $foreground;
}

hr {
  width: 66.66%;
  background-color: $foreground;
  transition: width 1s linear 1s;
}

hr::after {
  width: 0;
}

.fa:hover {
  background-color: $foreground;
}

.fa-linkedin {
  transition: 0.15s;
}
.fa-linkedin:hover {
  color: #0a66c2;
}

.fa-github {
  transition: 0.15s;
}
.fa-github:hover {
  color: black;
}

.fa-hackerrank {
  transition: 0.15s;
}
.fa-hackerrank:hover {
  color: #28b95a;
}

@media screen and (max-width: 384px) {
  #profilePic {
    display: none;
  }
  #summary {
    width: 80%;
  }
}
