.fa:hover {
  background-color: white;
}

.fa-linkedin {
  transition: 0.15s;
}
.fa-linkedin:hover {
  color: #0a66c2;
}

.fa-github {
  transition: 0.15s;
}
.fa-github:hover {
  color: black;
}

.fa-hackerrank {
  transition: 0.15s;
}
.fa-hackerrank:hover {
  color: #28b95a;
}

@media screen and (max-width: 384px) {
  #profilePic {
    display: none;
  }
  #summary {
    width: 80%;
  }
}
