@import "../../../Theme.scss";

.repo {
	background: $secondary;
	background: linear-gradient(45deg, $secondary 0%, $backgroundColor 50%, $secondary 100%);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	animation: repoAnimation 0s ease-out;
}

.icon {
	color: $foreground2;
	animation: 0.5s ease-out iconAnimation;
}

.repo-name {
	color: $foreground2;
}

.repo-description {
	color: $foreground2;
}

.repo-footer {
	background-color: $foreground2;
}

.topic-section-title {
	color: $secondary;
}

.topic-section-line {
	background-color: $secondary;
}

.topic {
	background-color: $secondary;
	color: $foreground2;
	transition: 0.15s;
}

.topic:hover {
	background-color: $backgroundColor;
	color: $foreground;
}

@for $i from 1 through 100 {
	$a: $i / 2;
	.repo:nth-child(#{$i}n) {
			animation-duration: #{$a * 0.5}s;
	}
}

@keyframes repoAnimation {
	0% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes iconAnimation {
	0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}