@import "../../Theme.scss";

nav {
  // background-image: url("navbarBackground.svg");
  // background-color: fade-out($color: $backgroundColor, $amount: 0.2);
}

.top-navbar {
  background-color: transparent;
  transition: 0.5s;
}
.top-navbar-scrolled {
  background-color: fade-out($color: $backgroundColor, $amount: 0);
  transition: 0.5s;
}

.navbar-link {
  color: $foreground2;
  border-color: $foreground2;
  background-color: transparent;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.navbar-link:hover {
  color: $backgroundColorLight;
  background-color: $foreground2;
}

.navbar-link-active {
  color: $foreground2;
  border-color: $foreground2;
  background-color: $backgroundColor;
}

.nav-bottom {
  background-color: $backgroundColor;
  box-shadow: 0 0 3px 1px $backgroundColorLight;
  // border-color: $backgroundColorLight;
}

.nav-bottom-link {
  color: $foreground2;
}

.nav-bottom-link-active {
  background-color: $foreground2;
  color: $backgroundColor;

  p {
    color: $backgroundColor;
  }
}