@import "../../Theme.scss";

nav {
  // background-image: url("navbarBackground.svg");
}

.navbar-link {
  color: $foreground2;
  border-color: $foreground2;
  background-color: transparent;
  transition: 0.15s;
}

.navbar-link:hover {
  color: $backgroundColorLight;
  background-color: $foreground2;
}

.navbar-link-active {
  color: $foreground2;
  border-color: $foreground2;
  background-color: $backgroundColor;
}

.nav-bottom {
  background-color: $backgroundColor;
  box-shadow: 0 0 3px 1px $backgroundColorLight;
  // border-color: $backgroundColorLight;
}

.nav-bottom-link {
  color: $foreground;
}

.nav-bottom-link-active {
  background-color: $foreground2;
  color: $backgroundColor;

  p {
    color: $backgroundColor;
  }
}