@import "../../Theme.scss";

#filterBar {
	background-color: $foreground2;
}

#filterBarTitle {
	color: $backgroundColorLight;
}

.filter {
	color: $foreground2;
	background-color: $backgroundColorLight;
}

.repo {
	background: linear-gradient(45deg, $backgroundColorLight 0%, $backgroundColor 50%, $backgroundColorLight 100%);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	animation: repoAnimation 0s ease-out;
}

.icon {
	color: $foreground2;
	animation: 0.5s ease-out iconAnimation;
}

.repo-name {
	color: $foreground2;
}

.repo-description {
	color: $foreground2;
}

.repo-footer {
	border-color: $backgroundColor;
	background-color: $foreground2;
}

.topic-section-title {
	color: $backgroundColorLight;
}

.topic-section-line {
	background-color: $backgroundColorLight;
}

.topic {
	background-color: $backgroundColorLight;
	color: $foreground2;
	transition: 0.15s;
}
.topic:hover {
	background-color: $backgroundColor;
	color: $foreground2;
}

.topic-active {
	background-color: $primary;
	color: $foreground2;
	transition: 0.15s;
}
.topic-active:hover {
	background-color: $myRed;
	color: $foreground2;
}

@for $i from 1 through 100 {
	$a: $i / 2;
	.repo:nth-child(#{$i}n) {
			animation-duration: #{$a * 0.5}s;
	}
}

@keyframes repoAnimation {
	0% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes iconAnimation {
	0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}