@import "../../utils/Theme.scss";

.footer {
	background-color: $backgroundColor;
	animation: 1.5s ease-out 0s 1 footerAnimation;
	-webkit-animation: 1.5s ease-out 0s 1 footerAnimation;

	h1 {
		color: $foreground;
	}
}

@media screen and (max-width: 767px) {
	.footer {
		background-image: none;
	}
}

@keyframes footerAnimation {
	0% {
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}