$backgroundColor: #1F2532;
// $backgroundColor: #0E0E0E;
$backgroundColorLight: #2F3543;
// $backgroundColorLight: #17131F;
$foreground: #ECE6DA;
$foreground2: #D8DEE9;
$primary: #008791;
$primaryLight: #CACEB5;
$danger: #BF616A;
$warning: #EBCB8B;
$myRed: #71454F;