$backgroundColor: #1F2532;
$foreground: #ECE6DA;
$foreground2: #D8DEE9;
$primary: #008791;
$primaryLight: #CACEB5;
$backgroundColorLight: #2F3543;
$danger: #BF616A;
$warning: #EBCB8B;
$myRed: #71454F;