@import "../../utils/Theme.scss";

#portfolio {
	background-color: $backgroundColor;
}

#filterBar {
	background-color: $foreground;
}

#filterBarTitle {
	color: $backgroundColorLight;
}

.filter {
	color: $foreground;
	background-color: $backgroundColorLight;
}

.repo {
	background-color: $backgroundColorLight;
	// background: linear-gradient(45deg, $backgroundColorLight 0%, $backgroundColor 50%, $backgroundColorLight 100%);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	animation: repoAnimation 0s ease-out;
	-webkit-animation: repoAnimation 0s ease-out;
}

.icon {
	color: $foreground;
	animation: 0.2s ease-out iconAnimation;
	-webkit-animation: 0.2s ease-out iconAnimation;
}

.repo-name {
	color: $foreground;
}

.repo-description {
	color: $foreground;
}

.repo-footer {
	border-color: $backgroundColor;
	background-color: $foreground;
}

.topic-section-title {
	color: $backgroundColorLight;
}

.topic-section-line {
	background-color: $backgroundColorLight;
}

.topic {
	background-color: $backgroundColorLight;
	color: $foreground;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.topic:hover {
	background-color: $backgroundColor;
	color: $foreground;
}

.topic-active {
	background-color: $primary;
	color: $foreground;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.topic-active:hover {
	background-color: $danger;
	color: $foreground;
}

@for $i from 1 through 100 {
	$a: $i / 2;
	.repo:nth-child(#{$i}n) {
			animation-duration: #{$a * 0.5}s;
			-webkit-animation-duration: #{$a * 0.5}s;
	}
}

@keyframes repoAnimation {
	0% {
		transform: scale(0%);
		-webkit-animation: scale(0%);
	}
	100% {
		transform: scale(100%);
		-webkit-transform: scale(100%);
	}
}

@keyframes iconAnimation {
	0% {
    transform: translateX(-200%);
		-webkit-transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
		-webkit-transform: translateX(0%);
  }
}